/*
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
*/

/**** CSS RESET AND BASIC STYLING ****/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.7;
    font-weight: normal;
}

/**** NABVAR ****/


/* Nabar Wrapper */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 10px 24px -12px rgba(242, 241, 239, .7);
}

/* END */



/* Menu */

.menu {
    display: flex;
    align-items: center;
    margin-left: 3rem;
    width: 14rem;
    justify-content: space-between;
}

.youlogo {
    width: 10rem;
}

/* END */


/* Search Bar */

.searchbar {
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    width: 66rem;
    display: flex;
    align-items: center;
    border-radius: .3rem;
    overflow: hidden;
}

.searchbar input {
    border: none;
    border-right: 1px solid #ccc;
    padding: .5rem .9rem;
    width: 90%;
    font-size: 1.5rem;
    outline: none;
}

.searchbar input::placeholder {
    font-size: 1.5rem;
}

.searchbar .search-btn {
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 10%;
}

.searchbar .search-icon {
    color: #888;
    font-size: 2rem;
}

/* END */


/* Feature Icons */

.material-icons {
    font-size: 2.4rem;
    color: #666;
}

.feature-icons {
    position: relative;
    margin-right: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 22rem;
}

.feature-icons .account-icon {
    font-size: 3.5rem;
    color: #b1348a;
}

.bell-icon-badge {
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 49px;
    display: inline-block;
    color: #fff;
    width: 19px;
    height: 19px;
    background-color: rgb(204, 22, 0);
}

/* END */


/* Main contents */

main {
    display: flex;
    padding: 2.5rem 7.5rem;
}

.player {
    display: block;
    width: 67%;
    margin-right: 2.5rem
}

.video-info {
    margin-top: 1.3rem;
    border-bottom: 1px solid #ccc;
}

.video-info .title {
    font-size: 1.8rem;
    font-weight: 300;
}

.sidebar {
    /* background-color: #3634b1; */
    width: 31%;
}

.video-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.video-views {
    font-size: 1.7rem;
    color: #555;
    font-weight: 200;
}

.right-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;

}

.right-menu .material-icons,
.right-menu span {
    font-size: 2rem;
    color: #888;
}

.right-menu .share-btn .material-icons {
    transform: scale(-1, 1)
}

.right-menu a span {
    margin-left: .6rem;
    font-size: 1.3rem;
    font-weight: bold;
}

.thumb-wrapper,
.share-btn,
.save-btn,
.options-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumb-wrapper {
    border-bottom: 2px solid #888;
    padding: 1.3rem 0;
}

.thumb-up-btn,
.thumb-down-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1.4rem;
}

.thumb-down-btn {
    margin-left: 1.4rem;
    margin-right: 0;
}







.suggested-video{
    display: flex;
    margin: 1rem 0;
}

.suggested-video .thumbnail {
    flex-basis: 46%;
    margin-right: 1rem;
    position: relative;
}


.suggested-video .thumbnail span{
    letter-spacing: .1rem;
    font-family: inherit;
    font-size: 1.2rem;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    display: inline-block;
    background-color: rgba(0,0,0, .8);
    color: white;
    padding: .05rem .5rem;
    border-radius: 3px;
    font-weight: bold;
}



.suggested-video .thumbnail-info {
    flex-basis: 54%;
}

.suggested-video .thumbnail img {
    height: 11rem;
}

.suggested-video .thumbnail-info h2 {
    margin-bottom: .4rem;
}

.suggested-video h2 {
    line-height: 1.2;
}

.suggested-video .channel, .suggested-video .views {
    color: #777;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: .001rem;
    line-height: 1.3;
}

